:root{
  --dark: rgb(27, 25, 25);
  --gy: greenyellow;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  min-height: 60px;
  background-color: var(--dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.openMenu, .closeMenu, #check{
  font-size: 2em;
  display: none;
  cursor: pointer;
  color: var(--gy);
}
.openMenu{
  position: absolute;
  right: 1em;
}
.closeMenu{
  position: absolute;
  top: 1em;
  left: 1em;
}
.links{
  width: 60%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
}
.nav-link{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav-link:hover{
  transition: 200ms;
  color: var(--gy);
}
.active{
  color: var(--gy);
}

@media all and (width < 650px){
  .links{
    width: 60%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark);
    transition: right 200ms linear;
  }
  .logo{
    position: absolute;
    left: 1em;
  }
  .openMenu, .closeMenu{
    display: block;
  }
  .check:checked ~.links{
    right: 0;
  }
}